main.DialogueBoxContainer {
    display: flex;
    justify-content: center;
}

main.DialogueBoxContainer section.DialogueSection {
     /* box model */
     margin: 30px;
     padding: 10px 15px;

     /* size */
     width: 60%;
     height: 200px;
 
     /* border */
     border-style: solid;
     border-color: black;
     border-radius: 10px;

     /* Flex */
     display: flex;
     justify-content: center;
 
     /* Color */
     background-color: rgb(228, 228, 228);
}