/* Main Container */

main.CharacterSelectContainer {
    display: flex;
    flex-direction: column;
}



/* Sub Containers */

main.CharacterSelectContainer section.ClassOptionsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main.CharacterSelectContainer section.CurrentUserStatsContainer {

    /* Size */
    width: 80%;

    /* Box Model */
    padding: 10px;


    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    /* Border */
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;

    /* Color */
    background-color: rgb(228, 228, 228);
}


main.CharacterSelectContainer section.hidden {
    display: none;
}

.UserStatsSpacing {
    display: flex;
    justify-content: center;
}

.ChapterOneStart {
    display: flex;
    justify-content: center;
}

.ToChapterButton {
    /* size */
    width: 300px;
    height: 80px;

    /* Box Model */
    margin: 5px;

    /* border */
    border-radius: 10px;
}