main.FightScreenContainer {

    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*  Sub Containers */

main.FightScreenContainer section.UserVsPlayerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main.FightScreenContainer section.UserAbilityButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


/*  hidden variable */

main.FightScreenContainer section.hidden {
    display: none;
}