main.DialogueBoxContainer {
    display: flex;
    justify-content: center;
}

.TextContainer {

    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;

     /* box model */
     margin: 30px;
     padding: 10px 15px;

     /* size */
     width: 60%;
     height: 200px;
 
     /* border */
     border-style: solid;
     border-color: black;
     border-radius: 10px;
 
     /* Color */
     background-color: rgb(228, 228, 228);

     /* text */
     text-align:left
}
