
.LinkButtonContainer {
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}


.LinkButton {
    /* Box Model */
    margin: 0px;

    /* Sizing */
    width: 200px;
    height: 50px;
    
    /* Border */
    border-radius: 10px;
}