
main.SignInContainer {
    border-style: solid;
    padding: 20px;
    background-color: white;
}


main.SignInContainer section.hidden {
 display: none
}

main.SignInContainer button.hidden {
    display: none
}