/* Main Container */

main.CharacterSelectContainer {
    display: flex;
    flex-direction: column;
}



/* Sub Containers */

main.CharacterSelectContainer section.ClassOptionsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main.CharacterSelectContainer section.CurrentUserStatsContainer {
    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Border */
    border-style: solid;
    border-color: black;
    border-width: 5px;
}


main.CharacterSelectContainer section.hidden {
    display: none;
}